@charset "utf-8";

.header_menu {
    width: auto;
    clear: both;
    margin-top: 0px;
    z-index: 1;
    overflow: hidden;
}

.global_navi {
    display: flex;
    position: relative;
}

.global_navi li {
    list-style: none;
    width: 100%;
}